title Jaz Singh
meta(
	name="Description"
	content='Jaz Singh is a software engineer and technical lead. He works with CoffeeScript, Jade, Less, HTML5, AngularJs, Meteor, Java among other things.'
)
meta(
	name="keywords"
	content="jazeee Jaz Software engineer CoffeeScript Jade Less HTML5 AngularJs Meteor Java c++"
)
meta( property="og:title" content="Jaz Singh" )
meta( property="og:description" content="Jaz Singh - Software Engineer" )
meta( property="og:type" content="website" )

meta( property="og.url" content="http://www.jazeee.com")

link(
	rel="icon" 
	href="favicon.ico" 
	type="image/x-icon"
)

link(
	rel="shortcut icon" 
	href="favicon.ico" 
	type="image/x-icon"
)
