.skill-set
	h2.text-align-center Skill Browser
	.row
		.col-sm-12.skill-groups
			.btn-group
				button.btn.btn-primary(
					ng-repeat="skillType in skillTypes"
					ng-class="{active: skillType == activeSkillType}"
					ng-click="setActiveSkillType(skillType)"
				) {{skillType}}
	.row.skill-charts-area
		.col-md-6.col-xs-12
			h2 Weighted Skills
			p Larger wedges indicate strong current skills
			.row
				.col-xs-3.skill-name-panels
					.skill-name-panel(
						ng-repeat="activeSkillName in activeSkillNames"
						ng-style="{color: skillFontColor[activeSkillName]}"
					)
						p
							| {{activeSkillName}}
							i.fa.fa-square
				.col-xs-9
					#skills-pie-chart.skill-chart-area
		.col-md-6.col-xs-12
			h2 Relative Skill Level
			p My assessment of skill level when compared to peers
			#skills-series-chart.skill-chart-area
	//- include color-map.jade